[Unit]
Description=7 Days to Die Server
After=network.target

[Service]
Type=simple
User=7days
WorkingDirectory=/home/7days/server
ExecStart=/home/7days/server/startserver.sh -configfile=serverconfig.xml -s
Restart=on-failure
RestartSec=5
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
