@ShutdownOnFailedCommand 1
@NoPromptForPassword 1
@sSteamCmdForcePlatformType linux
login {{steam_user}} {{steam_pass}}
force_install_dir /home/7days/server
set_steam_guard_code {{steam_code}}
app_update 294420 validate
quit
